<!-- destination card -->
<div class="component">
    <div class="component-header my-2">
        <img src="/assets/images/icons/icon-compass.svg" alt="compass icon" />
        <div class="font-16-700 text-252525">Top Study Destination</div>
    </div>

    <div class="component-section my-2">
        <div class="component-card bg-edf2f2 destination-card">
            <img src="/assets/images/icons/icon-uk.svg" alt="Destination image" />
            <div class="destination-name text-455154 font-12-700">United Kingdom</div>
        </div>
        <div class="component-card bg-edf2f2 destination-card">
            <img src="/assets/images/icons/icon-australia.svg" alt="Destination image" />
            <div class="destination-name text-455154 font-12-700">Australia</div>
        </div>
        <div class="component-card bg-edf2f2 destination-card">
            <img src="/assets/images/icons/icon-us.svg" alt="Destination image" />
            <div class="destination-name text-455154 font-12-700">United States</div>
        </div>
        <div class="component-card bg-edf2f2 destination-card">
            <img src="/assets/images/icons/icon-canada.svg" alt="Destination image" />
            <div class="destination-name text-455154 font-12-700">Canada</div>
        </div>
    </div>
</div>