<!-- Bottom Navbar -->
<div class="navbar-bottom border-radius-top bg-f4f6f6" style="z-index:5">
    <NavLink class="nav-item" href="/home" Match="NavLinkMatch.All">
        <img src="/assets/images/icons/icon-home.svg" alt="Home Icon" class="nav-icon home-icon">
        <div class="text mt-1">Home</div>
    </NavLink>
    <NavLink class="nav-item" href="/applications" Match="NavLinkMatch.Prefix">
        <img src="/assets/images/icons/icon-application.svg" alt="Applications Icon" class="nav-icon application-icon">
        <div class="text mt-1">Applications</div>
    </NavLink>
    <NavLink class="nav-item" href="/chatdashboard" Match="NavLinkMatch.Prefix">
        <img src="/assets/images/icons/icon-massage.svg" alt="Chats Icon" class="nav-icon chat-icon">
        <div class="text mt-1">Chats</div>
    </NavLink>
</div>

@code {
    
}
