<!-- Top World Rank University -->
<div class="component mb-4 pb-4">
    <div class="component-header my-2">
        <img src="/assets/images/icons/icon-university.svg" alt="graduation hat icon" />
        <div class="font-16-700 text-252525">Top World Rank University</div>
    </div>

    <div class="component-section my-2">
        <div class="component-card bg-edf2f2 university-card">
            <img src="/assets/images/icons/icon-university1.svg" alt="Course Icon" />
            <div class="university-name text-455154 font-12-700">De Montfort University Leicester</div>
        </div>
        <div class="component-card bg-edf2f2 university-card">
            <img src="/assets/images/icons/icon-university2.svg" alt="Course Icon" />
            <div class="university-name text-455154 font-12-700">Liverpool John Moores University</div>
        </div>
    </div>
</div>