<!-- Course Recommendation Card -->
<div class="component">
    <div class="component-header my-2">
        <img src="/assets/images/icons/icon-graduation-hat.svg" alt="graduation hat icon" />
        <div class="font-16-700 text-252525">Course Recommendation</div>
    </div>

    <div class="component-section my-2">
        <div class="component-card bg-edf2f2 course-card">
            <div class="course-title">
                <div class="text-455154 font-14-700">BEng Computer</div>
                <div class="course-details">
                    <img src="/assets/images/icons/icon-egle.svg" alt="Course Icon" />
                    <div class="name font-12-400 text-secondary">Angela Ruskin</div>
                </div>
            </div>
            <div class="fee text-455154 font-14-500">$205.05 (USD)</div>
        </div>
        <div class="component-card bg-edf2f2 course-card">
            <div class="course-title">
                <div class="text-455154 font-14-700">BEng Computer</div>
                <div class="course-details">
                    <img src="/assets/images/icons/icon-egle.svg" alt="Course Icon" />
                    <div class="name font-12-400 text-secondary">Angela Ruskin</div>
                </div>
            </div>
            <div class="fee text-455154 font-14-500">$205.05 (USD)</div>
        </div>
        <div class="component-card bg-edf2f2 course-card">
            <div class="course-title">
                <div class="text-455154 font-14-700">BEng Computer</div>
                <div class="course-details">
                    <img src="/assets/images/icons/icon-egle.svg" alt="Course Icon" />
                    <div class="name font-12-400 text-secondary">Angela Ruskin</div>
                </div>
            </div>
            <div class="fee text-455154 font-14-500">$205.05 (USD)</div>
        </div>
    </div>
</div>