@page "/forgotpassword"

@using Uapp.App.Components.Layout
@using Uapp.Services.Auth
@using Uapp.Services.Auth.Models
@using Uapp.Services
@layout AuthLayout

<EditForm Model="@passwordRecoveryModel" OnValidSubmit="Submit">
    <DataAnnotationsValidator />

    <div class="auth-signin">
        <div class="text-center">
            <div class="form-control border-radius-top py-5">
                <div class="text-start col-7">
                    <div class="text-515151 font-16-600">Recover your password</div>
                    <div class="text-secondary font-12-400">Enter your email to verify your identity in the recovery password</div>
                </div>
                <div class="input-section my-3">
                    <input @bind="passwordRecoveryModel.Email" class="input-field input-field-primary border-radius-999" placeholder="Email Address" type="text" name="name" />
                    <img src="/assets/images/icons/icon-mail.svg" class="input-icon" alt="Email Icon">
                </div>
                <ValidationMessage For="@(() => passwordRecoveryModel.Email)" class="error-message" />
                @if (!string.IsNullOrEmpty(ErrorMessage))
                {
                    <p class="text-danger">@ErrorMessage</p>
                }
                <div>
                    <button type="submit" class="button button-primary mb-3" disabled="@IsLoading">
                        @if (IsLoading)
                        {
                            <div class="spinner"></div>
                        }
                        else
                        {
                            <span>Send Email</span>
                        }
                    </button>
                    <a href="signin" class="text-secondary">Back to Login</a>
                </div>
            </div>
        </div>
    </div>
</EditForm>