@page "/"

@using Uapp.App.Components.Layout
@layout AuthLayout

<div class="auth-home">
    <div class="text-center my-3">
        <div>
            <img src="assets/uapp_logo.svg" height="34" />
            <p class="text-teal">Apply smarter with UAPP</p>
        </div>
        <div class="my-4">
            <a href="/signin" class="button button-primary my-2">Log In</a>
            <a href="/signupfirstpage" class="button button-secondary mt-3">Sign Up</a>
        </div>
    </div>
</div>