@page "/congratulation"

@using Uapp.App.Components.Layout
@layout ProfileLayout


<div class="congratulation-bg">
   <div class="boundary">
        <div class="congratulation text-center">
            <div>
                <div class="font-30-700 text-teal">Congratulation</div>
                <div class="font-16-600 text-252525">Registration is successful</div>
                <div class="font-16-400 text-515151">your student account has been created, you can now login to your portal and apply to universities abroad.</div>
            </div>
            <div>
                <div class="d-flex justify-content-center">
                    <img class="imagess" src="assets/images/icons/success.svg" />
                </div>
            </div>
            <div>
                <div class="align-items-center">
                    <img src="assets/images/icons/back-arrow.svg" />
                    <a href="/signin" class="text-252525">Back to Login</a>
                </div>
            </div>
        </div>
   </div>
</div>